<template>
  <div class="tab-content" id="myTabContent">
    <div class="order-listing-holder" v-for="(item, index) in deliveryDuties" :key="index">
      <div class="order-details">
        <div class="header">
          <span>{{item.laundry_name}}</span>
          <span>#{{item.order_id}}</span>
        </div>
        <hr />
        <div class="details">
          <div class="order-info">
            <span>{{item.name}}</span>
            <span>{{item.date | orderDate}}</span>
            <span>{{item.time}}</span>
          </div>
          <div class="order-mode">
            <span class="call">
              <span>
                <a :href="'tel:'+item.c_mobile">
                  <i class="fa fa-phone" :href="'tel:'+item.c_mobile"></i>
                </a>
              </span>
            </span>
            <span>{{item.delivery_mode}}</span>
            <span>{{item.payment_mode}}</span>
          </div>
        </div>
      </div>
      <div
        class="btn-holder"
        @click="hiddenAddressPosition==index?hiddenAddressPosition=-1:hiddenAddressPosition=index"
      >
        <a class="btn btn-secondary toggle-address">
          Address Details
          <i
            :class="hiddenAddressPosition==index?'fa fa-angle-up':'fa fa-angle-down'"
          ></i>
        </a>
        <a class="btn btn-default" @click="deliverOrder(item.order_id)">DELIVER</a>
      </div>
      <div
        :class="hiddenAddressPosition==index?'':'toggle-address-holder'"
        :style="{display:hiddenAddressPosition==index?'':'none'}"
      >
        <span>{{item.address}}</span>
        <a
          class="btn btn-default btn-block mt-3"
          :href="'https://maps.google.com/?daddr='+item.lat+','+item.long"
        >
          Navigate
          <i class="fa fa-location-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import OrderService from "../../services/order.service";
export default {
  components: {},
  data() {
    return {
      deliveryDuties: [],
      hiddenAddressPosition: -1,
    };
  },
  created() {
    this.getDeliveryDuties();
  },
  methods: {
    deliverOrder(orderId) {
      localStorage.setItem("IS_DELIVERY", true);
      this.$router.push("/order-detail/" + orderId);
    },
    seeOrderDetail(orderId) {
      this.$router.push("/track-order/" + orderId);
    },
    orderStatusButton(statusValue) {
      return this.$helpers.getOrderStatus(parseInt(statusValue));
    },
    getDeliveryDuties() {
      const payloadData = {
        rider_id: this.$helpers.getRiderId(),
        // rider_id: 106,
        pickup: 0,
      };

      OrderService.getDeliveryDuties(payloadData)
        .then((response) => {
          if (!("data" in response)) {
            alert(response.message);
            return;
          }

          console.log("home==>" + JSON.stringify(response));
          this.deliveryDuties = response.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>
<style scoped>
</style>
