

<template>
  <div class="edit-item" v-show="itemsDeleted.includes(index) === false">
    <div :class="div_disabled" style="width: 140px;">
      <!-- <span v-if="index > 1" @click="itemDeleted">Delete</span> -->
      <vue-bootstrap-typeahead
        :data="items"
        v-model="itemSearch"
        size="lg"
        :serializer="s => s.item_name"
        placeholder="Type an item..."
        @hit="selectedItem = $event"
      />
      <span v-if="serviceName">{{serviceName}}</span>
    </div>
    <div class="add-remove" v-if="selectedItem">
      <span class="minus" @click="minusQty">-</span>
      <input type="number" class="form-control count" name="qty" v-model="qty" disabled>
      <span class="plus" @click="addQty">+</span>
    </div>

    <!-- <button v-if="index == 1" @click="addMore" class="mr-2" style="width: 20px;">+</button> -->

    <div class="amount" v-if="selectedItem">
      <i class="fa fa-rupee-sign"></i>
      {{this.amountCalculated}}
    </div>
    <!-- <a to class="btn" @click="itemDeleted" v-if="index > 1"> -->
    <a to class="btn" @click="itemDeleted" v-if="selectedItem">
      <i class="fa fa-times"></i>
    </a>
  </div>
</template>

<script>
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import OrderService from "../../services/order.service.js";
import _ from "underscore";
export default {
  components: {
    VueBootstrapTypeahead
  },
  props: ["serviceId", "laundryId", "index", "itemsDeleted"],
  data() {
    return {
      items: [],
      itemSearch: "",
      selectedItem: null,
      qty: 1,
      amount: 0,
      amountCalculated: 0,
      itemId: null,
      serviceName: "",
      disabled: true,
      div_disabled: "input-holder "
    };
  },

  created() {
    //console.log("Index is ", this.index);
    //console.log("Service Id in Item is ", this.serviceId);
  },

  methods: {
    minusQty() {
      if (this.qty === 1) return;
      this.qty--;
      this.amountCalculated = this.amount * this.qty;
      let args = {
        itemId: this.itemId,
        qty: this.qty
      };
      this.$emit("qtyChanged", args);
    },
    addQty() {
      this.qty++;
      this.amountCalculated = this.amount * this.qty;
      let args = {
        itemId: this.itemId,
        qty: this.qty
      };
      this.$emit("qtyChanged", args);
    },
    itemDeleted() {
      this.$emit("itemDeleted", this.index - 1);
    },
    addMore() {
      this.$emit("addMore");
    },
    async getItems(query = "") {
      const res = await OrderService.getItemsAutocomplete({
        service_id: this.serviceId,
        laundry_id: this.laundryId, //"40",
        //textKey: "tr"
        textKey: query
      });
      const suggestions = res.data.data;
      this.items = suggestions;
    }
  },
  watch: {
    selectedItem: function(v) {
      console.log(v);
      console.log("Selected item ID ", v.item_id);
      console.log("Selected item Name ", v.item_name);
      console.log("Selected item Rate ", v.item_rate);

      this.div_disabled += "div_disabled";
      this.serviceName = v.service_name;
      this.amount = v.item_rate;
      this.amountCalculated = v.item_rate;
      this.itemId = v.item_id;

      this.$emit("itemAdded", v);
    },
    itemSearch: _.debounce(function(query) {
      console.log("Watch ", query);
      this.getItems(query);
    }, 500)
  }
};
</script>

<style scoped>
.div_disabled {
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.9;
}
</style>
