<template>
  <div class="wrapper">
    <!-- Page Content Holder -->
    <div class="content order-edit">
      <div class="navbar-header box-shadow-bottom fill">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
          <router-link to="/orders">
            <i class="fas fa-chevron-left"></i>
          </router-link>
        </button>
        <h3>#{{orderId}}</h3>
      </div>
      <div class="order-info-holder">
        <div class="order-info">
          <div class="info">
            <span>{{orderDetails.payment_details.order_date}}</span>
            <span>{{orderDetails.payment_details.user_name}}</span>
          </div>
          <div class="payment">
            <span>Payment Status</span>
            <span>{{orderDetails.payment_details.payment_status}}</span>
          </div>
        </div>
        <hr>
        <div class="pickup-delivery-wrapper">
          <div class="pickup">
            <span>Pickup</span>
            <span>{{orderDetails.payment_details.pickupDate}}</span>
          </div>

          <div class="delivery">
            <span>Delivery</span>
            <span>{{orderDetails.payment_details.deliveryDate}}</span>
          </div>
        </div>
        <div class="address">
          <span>Address</span>
          <span>{{orderDetails.payment_details.deliveryAddress}}</span>
        </div>
      </div>

      <div class="col">
        <div class="add-items">
          <h3>Add Items</h3>
          <div class="items">
            <!-- <a href="#!" class="active">Dry Clean</a> -->
            <a
              :class="serviceId === service.id ? 'active': null"
              v-for="(service, index) in orderDetails.serviceList"
              :key="index"
              @click="selectService(service.id)"
            >{{service.name}}</a>
          </div>
        </div>
        <div class="edit-item-holder">
          <!-- <button class="btn btn-secondary btn-sm mb-2" @click="addMore">Add More +</button> -->
          <a class="btn btn-secondary btn-sm mb-2" @click="addMore">Add More +</a>
          <Item
            v-for="index in totalItems"
            :key="index"
            @itemAdded="itemAdded($event)"
            @qtyChanged="qtyChanged($event)"
            @itemDeleted="itemDeleted($event)"
            :serviceId="serviceId"
            :laundryId="laundryId"
            :index="index"
            :itemsDeleted="itemsDeleted"
          />
        </div>

        <div class="price-summary" v-if="calcLoading">
          <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </div>
        </div>

        <div class="price-summary" v-if="!calcLoading">
          <div class="item-total" v-if="calcAmount.total_item_price">
            <h3>Items Total</h3>
            <span>
              <i class="fa fa-rupee-sign"></i>
              {{calcAmount.total_item_price || ""}}
            </span>
          </div>
          <div class="breakup" v-if="calcAmount.deliveryCharges">
            <span>Delivery Charges</span>
            <span>
              <i class="fa fa-rupee-sign"></i>
              {{calcAmount.deliveryCharges || ""}}
            </span>
          </div>
          <div class="breakup" v-if="calcAmount.express_Delivery">
            <span>Express Charges</span>
            <span>
              <i class="fa fa-rupee-sign"></i>
              {{calcAmount.express_Delivery || ""}}
            </span>
          </div>
          <div class="breakup" v-if="calcAmount.cgst">
            <span>CGST</span>
            <span>
              <i class="fa fa-rupee-sign"></i>
              {{calcAmount.cgstValue || ""}}
            </span>
          </div>
          <div class="breakup" v-if="calcAmount.sgst">
            <span>SGST</span>
            <span>
              <i class="fa fa-rupee-sign"></i>
              {{calcAmount.sgstValue || ""}}
            </span>
          </div>
          <div class="breakup" v-if="calcAmount.igst">
            <span>IGST</span>
            <span>
              <i class="fa fa-rupee-sign"></i>
              {{calcAmount.igstValue || ""}}
            </span>
          </div>
          <div class="payble" v-if="calcAmount.finalPayableAmount">
            <h3>Amount Payble</h3>
            <span>
              <i class="fa fa-rupee-sign"></i>
              {{calcAmount.finalPayableAmount || ""}}
            </span>
          </div>
        </div>

        <div class="input-wrapper">
          <!-- <h3>Enter Amount</h3> -->
          <div class="input-holder">
            <!-- <input type="text" class="form-control" placeholder="Instructions if any"> -->
            <textarea
              class="form-control"
              rows="3"
              placeholder="Instructions if any"
              v-model="instructions"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="col btn-holder-bottom">
        <button class="btn btn-default btn-block" @click="submit">Get Signatures</button>
      </div>
    </div>
  </div>
</template>

<script>
import Item from "./Item";
import orderService from "../../services/order.service";

export default {
  components: {
    Item
  },

  data() {
    return {
      items: [],
      itemsDeleted: [],
      totalItems: 1,
      orderDetails: {},
      serviceId: null,
      orderId: null,
      laundryId: null,
      calcAmount: {},
      calcLoading: false,
      instructions: ""
      //order_id: this.$route.params.id, //"136"
    };
  },

  created() {
    this.orderId = this.$route.params.id;
    this.getOrderDetails();
    console.log("Order id ", this.orderId);
  },

  methods: {
    selectService(serviceId) {
      console.log("Service Id is ", serviceId);
      this.serviceId = serviceId;
    },
    getOrderDetails() {
      let data = {
        order_id: this.orderId
      };
      orderService.getOrderDetails(data).then(res => {
        this.orderDetails = res.data;
        this.laundryId = res.data.payment_details.laundry_id;
        this.serviceId = res.data.serviceList[0].id;

        //console.log("Details is ", this.orderDetails);
      });
    },
    addMore() {
      this.totalItems++;
    },
    qtyChanged(e) {
      //console.log("Qty Changed ", e);

      //console.log(this.items);
      let itemIndex = this.items.findIndex(item => item.item_id === e.itemId);

      //console.log("Index is ", itemIndex);
      let _item = this.items[itemIndex];
      _item.qty = e.qty;
      this.items[itemIndex] = _item;
      // console.log("Item array is ", this.items);

      this.getOrderCalculation();
    },

    getOrderCalculation() {
      let items = this.items.filter((item, index) => {
        return this.itemsDeleted.includes(index + 1) === false;
      });
      this.calcLoading = true;
      let data = {
        //laundry_id: this.laundryId,
        order_id: this.orderId,
        items: items
      };

      orderService.getOrderCalculation(data).then(res => {
        // console.log("Calculated Data is ", res.data);
        this.calcAmount = res.data.orderInfo;
        this.calcLoading = false;
      });
    },
    itemAdded(e) {
      // console.log(e);
      //alert("Hello");
      let item = {
        item_name: e.item_name,
        item_rate: e.item_rate,
        service_id: e.service_id,
        cat_id: e.cat_id,
        item_id: e.item_id,
        qty: 1
      };

      //this.items.push(item);
      this.items = [...this.items, item];

      //console.log("Items are ", this.items);
      this.getOrderCalculation();
    },
    itemDeleted(indexPos) {
      // console.log("Item Deleted >> >> >> >> >> >> >>", indexPos);
      // let items = this.items.filter((item, index) => {
      //   // console.log("indexPos ", indexPos, "index ", index);
      //   return indexPos != index;
      // });

      // this.items = items;

      //console.log("Items is ", items);
      //console.log("This Items is ", this.items);
      //this.totalItems--;
      this.itemsDeleted = [...this.itemsDeleted, indexPos + 1];
      // console.log("Item Deleted arr ", this.itemsDeleted);
      // console.log("New Items array ", this.items);
      this.getOrderCalculation();
      //return items;
    },
    submit() {
      if (this.items.length === 0) {
        this.$bvToast.toast(`Please add atleast 1 item.`, {
          title: "Error",
          autoHideDelay: 5000,
          appendToast: false,
          variant: "danger"
        });
        return;
      }

      let data = {
        laundry_id: this.laundryId,
        order_id: this.orderId,
        comment: this.instructions,
        items: this.items
      };

      console.log("Saved item is ", data);
      orderService.orderSave(data).then(res => {
        console.log("Data saved ", res.data);
        if (res.data.status == 1) {
          this.$router.push("/signature/" + this.orderId);
        }
      });
    }
  }
};
</script>

<style>
</style>
