<template>
  <div class="wrapper">
    <!-- Page Content Holder -->
    <div class="content order-edit">
      <div class="navbar-header box-shadow-bottom fill">
        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
          <i class="fas fa-chevron-left"></i>
        </button>
        <h3>#112515</h3>
      </div>
      <div class="order-info-holder">
        <div class="order-info">
          <div class="info">
            <span>22 July 2020 | 09:30 PM</span>
            <span>Akash Deep Gupta</span>
          </div>
          <div class="payment">
            <span>Payment Status</span>
            <span>Pending</span>
          </div>
        </div>
        <hr>
        <div class="pickup-delivery-wrapper">
          <div class="pickup">
            <span>Pickup</span>
            <span>Mon, 23 May | 2:00 PM</span>
          </div>
          <div class="delivery">
            <span>Delivery</span>
            <span>Tue, 24 May | 5:30 PM</span>
          </div>
        </div>
        <div class="address">
          <span>Address</span>
          <span>D-90 / B Block, Udhyog vihar Phase-III, Okhla</span>
        </div>
      </div>

      <div class="col">
        <div class="add-items">
          <h3>Add Items</h3>
          <div class="items">
            <a href="#!" class="active">Dry Clean</a>
            <a href="#!">Washing</a>
            <a href="#!">Iron</a>
            <a href="#!">Steam Press</a>
          </div>
        </div>
        <div class="edit-item-holder">
          <div class="edit-item">
            <div class="input-holder" style="width: 150px;">
              <vue-bootstrap-typeahead
                :data="items"
                v-model="itemSearch"
                size="lg"
                :serializer="s => s.item_name"
                placeholder="Type an item..."
                @hit="selectedItem = $event"
              />
            </div>
            <div class="add-remove">
              <span class="minus">-</span>
              <input type="number" class="form-control count" name="qty" value="1" disabled>
              <span class="plus">+</span>
            </div>
            <div class="amount">
              <i class="fa fa-rupee-sign"></i>
              {{this.amount}}
            </div>
          </div>
        </div>
        <div class="price-summary">
          <div class="item-total">
            <h3>Items Total</h3>
            <span>
              <i class="fa fa-rupee-sign"></i> 5290
            </span>
          </div>
          <div class="breakup">
            <span>Delivery Charges</span>
            <span>
              <i class="fa fa-rupee-sign"></i> 100
            </span>
          </div>
          <div class="breakup">
            <span>CGST</span>
            <span>
              <i class="fa fa-rupee-sign"></i> 96
            </span>
          </div>
          <div class="breakup">
            <span>SGST</span>
            <span>
              <i class="fa fa-rupee-sign"></i> 96
            </span>
          </div>
          <div class="breakup">
            <span>IGST</span>
            <span>
              <i class="fa fa-rupee-sign"></i> 23
            </span>
          </div>
          <div class="payble">
            <h3>Amount Payble</h3>
            <span>
              <i class="fa fa-rupee-sign"></i> 7220
            </span>
          </div>
        </div>
        <div class="input-wrapper">
          <!-- <h3>Enter Amount</h3> -->
          <div class="input-holder">
            <!-- <input type="text" class="form-control" placeholder="Instructions if any"> -->
            <textarea class="form-control" rows="3" placeholder="Instructions if any"></textarea>
          </div>
        </div>
      </div>
      <div class="col btn-holder-bottom">
        <button class="btn btn-default btn-block">Get Signatures</button>
      </div>
    </div>
  </div>
</template>

<script>
import VueBootstrapTypeahead from "vue-bootstrap-typeahead";
import OrderService from "../../services/order.service.js";
import _ from "underscore";
export default {
  components: {
    VueBootstrapTypeahead
  },

  data() {
    return {
      items: [],
      itemSearch: "",
      selectedItem: null,
      qty: 1,
      amount: 0
    };
  },

  methods: {
    async getItems(query = "") {
      console.log("Query is ", query);
      //const res = await fetch(API_URL.replace(":query", query));
      const res = await OrderService.getItemsAutocomplete({
        service_id: "10",
        laundry_id: "40",
        //textKey: "tr"
        textKey: query
      });
      //console.log("Returned is ", res.data);
      //const suggestions = await res.json();
      const suggestions = res.data.data;
      //const suggestions = res.data;
      console.log(suggestions);
      this.items = suggestions;
    }
  },
  watch: {
    selectedItem: function(v) {
      console.log("Selected item ID ", v.item_id);
      console.log("Selected item Name ", v.item_name);
      console.log("Selected item Rate ", v.item_rate);
      this.amount = v.item_rate;
    },
    itemSearch: _.debounce(function(query) {
      console.log("Watch ", query);
      this.getItems(query);
    }, 500)
  }
};
</script>

<style>
</style>
