<template>
  <!-- Page Content Holder -->
  <div class="content order-edit">
    <div class="navbar-header box-shadow-bottom fill">
      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
        <router-link to="/orders">
          <i class="fas fa-chevron-left"></i>
        </router-link>
      </button>
      <h3>#{{orderId}}</h3>
    </div>
    <div class="order-info-holder">
      <div class="order-info">
        <div class="info">
          <span>{{orderDetails.payment_details.order_date}}</span>
          <span>{{orderDetails.payment_details.user_name}}</span>
        </div>
        <div class="payment">
          <span>Payment Status</span>
          <span>{{orderDetails.payment_details.payment_status}}</span>
        </div>
      </div>
      <hr />
      <div class="pickup-delivery-wrapper">
        <div class="pickup">
          <span>Pickup</span>
          <span>{{orderDetails.payment_details.pickupDate}}</span>
        </div>

        <div class="delivery">
          <span>Delivery</span>
          <span>{{orderDetails.payment_details.deliveryDate}}</span>
        </div>
      </div>
      <div class="address">
        <span>Address</span>
        <span>{{orderDetails.payment_details.deliveryAddress}}</span>
      </div>
    </div>

    <div class="col">
      <div class="item-holder">
        <div class="label">
          <span>Items</span>
          <span>Qty.</span>
          <span>Price</span>
        </div>
        <div class="item-details" v-for="(item, index) in items" :key="index">
          <div class="item">
            <span>{{item.name}}</span>
            <span>{{item.service_name}}</span>
          </div>
          <div class="qty">{{item.quantity}}</div>
          <div class="amount">
            <i class="fa fa-rupee-sign"></i>
            {{item.price}}
          </div>
        </div>
      </div>
      <div class="price-summary">
        <div class="item-total">
          <h3>Items Total</h3>
          <span>
            <i class="fa fa-rupee-sign"></i>
            {{orderDetails.payment_details.total_item_price}}
          </span>
        </div>
        <div class="breakup" v-if="orderDetails.payment_details.deliveryCharges">
          <span>Delivery Charges</span>
          <span>
            <i class="fa fa-rupee-sign"></i>
            {{orderDetails.payment_details.deliveryCharges}}
          </span>
        </div>
        <div class="breakup" v-if="orderDetails.payment_details.CGST!=0">
          <span>CGST</span>
          <span>
            <i class="fa fa-rupee-sign"></i>
            {{orderDetails.payment_details.cgstValue}}
          </span>
        </div>
        <div class="breakup" v-if="orderDetails.payment_details.SGST!=0">
          <span>SGST</span>
          <span>
            <i class="fa fa-rupee-sign"></i>
            {{orderDetails.payment_details.sgstValue}}
          </span>
        </div>
        <div class="breakup" v-if="orderDetails.payment_details.IGST!=0">
          <span>IGST</span>
          <span>
            <i class="fa fa-rupee-sign"></i>
            {{orderDetails.payment_details.igstValue}}
          </span>
        </div>
        <div class="payble" v-if="orderDetails.payment_details.finalPayableAmount">
          <h3>Amount Payble</h3>
          <span>
            <i class="fa fa-rupee-sign"></i>
            {{orderDetails.payment_details.finalPayableAmount}}
          </span>
        </div>
      </div>
      <div class="input-wrapper mb-0">
        <!-- <h3>Enter Amount</h3> -->
        <div class="input-holder">
          <!-- <input type="text" class="form-control" placeholder="Instructions if any"> -->
          <textarea
            class="form-control"
            rows="3"
            placeholder="Order comment"
            v-model="comment"
            value="orderDetails.service_comment"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="spacer"></div>
    <div class="col btn-holder-bottom">
      <button
        class="btn btn-default btn-block"
        @click="changeOrderStatus"
        :disabled="isButtonDisabled"
      >{{submitButtonValue}}</button>
    </div>
  </div>
</template>
<script>
import orderService from "../../services/order.service";
export default {
  components: {},
  data() {
    return {
      orderId: "",
      items: [],
      orderDetails: {},
      isDelivery: false,
      comment: "",
      submitButtonValue: "CONFIRM",
      isButtonDisabled: false,
    };
  },
  created() {
    this.isDelivery = localStorage.getItem("IS_DELIVERY");
    this.orderId = this.$route.params.id;
    this.getOrderDetails();
    console.log(
      "Order id ",
      this.orderId +
        "==>" +
        this.isDelivery +
        "==->" +
        (this.isDelivery == "true")
    );
  },
  methods: {
    getOrderDetails() {
      let data = {
        order_id: this.orderId,
      };
      orderService.getOrderDetails(data).then((res) => {
        this.orderDetails = res.data;
        this.laundryId = res.data.payment_details.laundry_id;
        var tempItems = [];
        for (var index = 0; index < res.data.data.length; index++) {
          for (
            var itemIndex = 0;
            itemIndex < res.data.data[index].items.length;
            itemIndex++
          )
            res.data.data[index].items[itemIndex].service_name =
              res.data.data[index].service_name;
          tempItems = tempItems.concat(res.data.data[index].items);
          console.log("IIII=>", tempItems);
        }
        this.items = tempItems;

        console.log("Items==> ", this.items);
      });
    },
    changeOrderStatus() {
      this.submitButtonValue = "WAIT...";
      this.isButtonDisabled = true;
      let data = {
        rider_id: this.$helpers.getRiderId(),
        order_id: this.orderId,
        comments: this.comment,
        status_id: this.isDelivery == "true" ? 7 : 3,
        notify_sms: 1,
        notify_push: 1,
      };
      orderService.changeOrderStatus(data).then((res) => {
        var response = res.data;
        if (response.status == 1) {
          this.$bvToast.toast(response.message, {
            title: "Alert",
            autoHideDelay: 2000,
            appendToast: false,
            variant: "danger",
          });
          this.submitButtonValue = "CONFIRM";
          this.isButtonDisabled = false;
          this.$router.push("/orders");
        }
      });
    },
  },
};
</script>
<style scoped>
</style>
