<template>
  <div class="wrapper">
    <!-- Page Content Holder -->
    <div class="content order-listing">
      <div class="navbar-header box-shadow-bottom fill">
        <!-- <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
          <i class="fas fa-chevron-left"></i>
        </button>-->
        <h3>My Duties</h3>
      </div>

      <div class="col">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link"
              :class="selecteTabName=='PickupOrders'?'active':''"
              id="one-tab"
              data-toggle="tab"
              href="#one"
              role="tab"
              aria-controls="One"
              aria-selected="true"
              @click="selecteTabName='PickupOrders'"
            >Pickup Orders</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              :class="selecteTabName=='DeliveryOrders'?'active':''"
              id="two-tab"
              data-toggle="tab"
              href="#two"
              role="tab"
              aria-controls="Two"
              aria-selected="true"
              @click="selecteTabName='DeliveryOrders'"
            >Delivery Orders</a>
          </li>
        </ul>
        <component :is="selecteTabName"></component>
      </div>
    </div>
  </div>
</template>
<script>
import PickupOrders from "./PickupOrders.vue";
import DeliveryOrders from "./DeliveryOrders.vue";
export default {
  components: {
    PickupOrders: PickupOrders,
    DeliveryOrders: DeliveryOrders,
  },
  data() {
    return {
      selecteTabName: "PickupOrders",
    };
  },
  methods: {
    orderStatusClick() {},
    placeOrder() {
      console.log("Place Order");
    },
  },
};
</script>
<style scoped>
</style>
