<template>
  <div class="tab-content" id="myTabContent">
    <div class="order-listing-holder" v-for="(item, index) in pickupDuties" :key="index">
      <div class="order-details">
        <div class="header">
          <span>{{item.laundry_name}}</span>
          <span>#{{item.order_id}}</span>
        </div>
        <hr />
        <div class="details">
          <div class="order-info">
            <span>{{item.name}}</span>
            <span>{{item.date | orderDate}}</span>
            <span>{{item.time}}</span>
          </div>
          <div class="order-mode">
            <span class="call">
              <span>
                <a :href="'tel:'+item.c_mobile">
                  <i class="fa fa-phone" :href="'tel:'+item.c_mobile"></i>
                </a>
              </span>
            </span>
            <span>{{item.delivery_mode}}</span>
            <span>{{item.payment_mode}}</span>
          </div>
        </div>
      </div>
      <div
        class="btn-holder"
        @click="hiddenAddressPosition==index?hiddenAddressPosition=-1:hiddenAddressPosition=index"
      >
        <a class="btn btn-secondary toggle-address">
          Address Details
          <i
            :class="hiddenAddressPosition==index?'fa fa-angle-up':'fa fa-angle-down'"
          ></i>
        </a>
        <a class="btn btn-default" @click="pickupOrder(item.order_id)">Pick Up</a>
      </div>
      <div
        :class="hiddenAddressPosition==index?'':'toggle-address-holder'"
        :style="{display:hiddenAddressPosition==index?'':'none'}"
      >
        <span>{{item.address}}</span>
        <a
          class="btn btn-default btn-block mt-3"
          :href="'https://maps.google.com/?daddr='+item.lat+','+item.long"
        >
          Navigate
          <i class="fa fa-location-arrow"></i>
        </a>
      </div>
    </div>
  </div>
</template>
<script>
import OrderService from "../../services/order.service";
export default {
  components: {},
  data() {
    return {
      pickupDuties: [],
      hiddenAddressPosition: -1,
    };
  },
  created() {
    this.getPickupDuties();
  },
  mounted() {
    // $(".toggle-address").click(function () {
    //   $(this).find("i").toggleClass("fa-angle-down fa-angle-up");
    //   $(".toggle-address-holder").slideToggle("fast");
    // });
  },
  methods: {
    seeOrderDetail(orderId) {
      this.$router.push("/track-order/" + orderId);
    },
    orderStatusButton(statusValue) {
      return this.$helpers.getOrderStatus(parseInt(statusValue));
    },
    orderStatusButtonStyle(statusValue) {
      switch (parseInt(statusValue)) {
        case 7:
          return "fa-check";
        case 11:
          return "fa-times";
      }
    },
    getPickupDuties() {
      const payloadData = {
        rider_id: this.$helpers.getRiderId(),
        // rider_id: 106,
        pickup: 1,
      };

      OrderService.getPickupDuties(payloadData)
        .then((response) => {
          if (!("data" in response)) {
            alert(response.message);
            return;
          }
          console.log("Past orders==>" + JSON.stringify(response));
          this.pickupDuties = response.data.data;
          if (this.pickupDuties.length == 0)
            this.$bvToast.toast(`No past records.`, {
              title: "Alert",
              autoHideDelay: 5000,
              appendToast: false,
              variant: "danger",
            });
        })
        .catch((error) => {
          console.log(error);
        });
    },
    pickupOrder(orderId) {
      this.$router.push("/order-add/" + orderId);
    },
  },
};
</script>
<style scoped>
</style>
