<template>
  <div class="content order-edit">
    <div class="navbar-header box-shadow-bottom fill">
      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
        <i class="fas fa-chevron-left"></i>
      </button>
      <h3>#{{paymentDetails.order_id}}</h3>
    </div>
    <div class="signature-wrapper">
      <div class="header">
        <h3>{{paymentDetails.user_name}}</h3>
        <div class="amount">
          <span>
            <i class="fa fa-rupee-sign"></i>
            {{paymentDetails.finalPayableAmount}}
          </span>
          <router-link to="/order-details">
            <a>View Details</a>
          </router-link>
        </div>
      </div>
      <div class="col">
        <div class="signature-area">
          <span>Signature here</span>
          <VueSignaturePad
            ref="signaturePad"
            :options="{backgroundColor: 'rgba(225,0,0,0)', penColor:'red',dotSize:'0.5', onBegin, onEnd }"
          />
        </div>
      </div>
      <div class="col btn-holder-bottom">
        <button class="btn btn-secondary" @click="retake">Retake</button>
        <button
          class="btn btn-default"
          @click="save"
          :disabled="isButtonDisabled"
        >{{submitButtonValue}}</button>
      </div>
    </div>
  </div>
</template>
<script>
import Vue from "vue";
import VueSignaturePad from "vue-signature-pad";
import SignatureService from "../../services/signature.service";
import orderService from "../../services/order.service";
Vue.use(VueSignaturePad);
export default {
  data() {
    return {
      orderDetails: {},
      paymentDetails: {},
      orderId: "",
      submitButtonValue: "Confirm",
      isButtonDisabled: false,
    };
  },
  created() {
    this.orderId = this.$route.params.id;
    this.getOrderDetails();
    console.log("Order id ", this.orderId);
    this.isButtonDisabled = true;
  },
  methods: {
    onBegin() {
      console.log("=== Begin ===");
    },
    onEnd() {
      console.log("=== End ===");
      this.isButtonDisabled = false;
    },
    undo() {
      this.$refs.signaturePad.undoSignature();
    },
    retake() {
      this.$refs.signaturePad.clearSignature();
      this.isButtonDisabled = true;
    },
    getOrderDetails() {
      let data = {
        order_id: this.orderId,
      };
      orderService.getOrderDetails(data).then((res) => {
        this.orderDetails = res.data;
        this.paymentDetails = res.data.payment_details;

        console.log("Details is ", this.orderDetails);
      });
    },
    save() {
      this.submitButtonValue = "Uploading...";
      this.isButtonDisabled = true;
      const { isEmpty, data } = this.$refs.signaturePad.saveSignature();
      console.log(isEmpty);
      console.log(data);
      // var folderpath = "file:///storage/emulated/0/";
      // var filename = "signature.png";
      const fd = new FormData();
      fd.append(
        "picturefile",
        this.b64toBlob(data, "image/png"),
        this.$helpers.getRiderId() + ".png"
      );
      fd.append("rider_id", this.$helpers.getRiderId());
      fd.append("order_id", this.orderId);
      SignatureService.signatureUpload(fd).then((response) => {
        if (response.data.status == 0) {
          console.log("Upload Signature response ", response.data);
        } else {
          console.log("Upload Signature response ", response.data);
          localStorage.setItem("IS_DELIVERY", false);
          this.$router.push("/order-detail/" + this.orderId);
        }

        this.submitButtonValue = "Confirm";
        this.isButtonDisabled = false;
      });
    },
    b64toBlob(base64Data, contentType) {
      //Change base64 image to blob
      contentType = contentType || "";
      var sliceSize = 1024;
      var byteCharacters = atob(base64Data.split(",")[1]);
      var bytesLength = byteCharacters.length;
      var slicesCount = Math.ceil(bytesLength / sliceSize);
      var byteArrays = new Array(slicesCount);

      for (var sliceIndex = 0; sliceIndex < slicesCount; ++sliceIndex) {
        var begin = sliceIndex * sliceSize;
        var end = Math.min(begin + sliceSize, bytesLength);

        var bytes = new Array(end - begin);
        for (var offset = begin, i = 0; offset < end; ++i, ++offset) {
          bytes[i] = byteCharacters[offset].charCodeAt(0);
        }
        byteArrays[sliceIndex] = new Uint8Array(bytes);
      }
      return new Blob(byteArrays, { type: contentType });
    },
  },
};
</script>
<style scoped>
</style>