@mixin border-radius($property) {
    -webkit-border-radius: $property;
    -moz-border-radius: $property;
    border-radius: $property;
}
// Transition 
@mixin transition($what: all, $time: .3s, $how: ease-in-out) {
	-webkit-transition	: 	$what $time $how;
	-moz-transition		:	$what $time $how;
	-ms-transition		:	$what $time $how;
	-o-transtition 		:	$what $time $how;
	transition 			: 	$what $time $how;
}
@mixin transition6s($what: all, $time: .6s, $how: ease-in-out) {
	-webkit-transition	: 	$what $time $how;
	-moz-transition		:	$what $time $how;
	-ms-transition		:	$what $time $how;
	-o-transtition 		:	$what $time $how;
	transition 			: 	$what $time $how;
}
// Box shadow
@mixin box-shadow($shadow: 0 0 4px 0 rgba(0,0,0,.1) ) {
	-webkit-box-shadow	: $shadow;
	-moz-box-shadow		: $shadow;
	box-shadow			: $shadow;
}
@mixin box-shadow-bottom($shadow: 00 2px 2px rgba(0,0,0,0.1) ) {
	-webkit-box-shadow	: $shadow;
	-moz-box-shadow		: $shadow;
	box-shadow			: $shadow;
}