// COLOR VARIABLES - Start
// ==========================================================================
// Color Palettes

// UI Specific color palette 
$black 											: 	#000000;
$white 											: 	#ffffff; // default color
$red 											:	#e2061c;
$gray-light										: 	#c9c8c8;
$gray											: 	#838282;
$gray-dark										: 	#333333;
$blue											: 	#0000FF;
$orange                                         :   #FF8C00;
$green                                          :   #008000;

$color1 										: 	#E7F0F3; // primary color
$color2 										: 	#488087; // secondary color
$color3											: 	#28a745;
$color4											: 	#ec1c24;
$color5											: 	#0891e6;
$color6                                         :   #FFA0A0;
// #UI Specific color palette 

$default-color									: 	$white;
$primary-color									:   $color1;
$secondary-color								: 	$color2;

$body-link-color                                :   $color5;
$alert-color                                    :   $color6;
$hotel-star-rating-color                        :   $secondary-color;
$hotel-star-rating-color-disable                :   $gray;

$text-color-dark								:   lighten($black, 10%);
$text-color-light                               :   lighten($black, 20%);

$border-color                                   :   lighten($black, 76%);;