.btn {
    &:hover {background: darken($secondary-color, $amount: 5%); color: $white;}
    &:focus {box-shadow: none!important; border: 1px solid lighten($black, $amount: 55%); }
    &:active {box-shadow: none!important; border: 1px solid lighten($black, $amount: 55%); }
}
.btn-default {
    background: $secondary-color;
    border: 1px solid darken($secondary-color, $amount: 10%);
    padding: 10px;
    text-transform: uppercase;
    color: $white;
}
.btn-secondary {
    background: transparent;
    border: 1px solid $secondary-color;
    padding: 10px;
    text-transform: uppercase;
    color: $secondary-color;
    &:active, &:focus, &:hover {
        background: transparent!important;
        color: $secondary-color!important;
        border: 1px solid $secondary-color;
        padding: 10px;
        text-transform: uppercase;
    }
}

.btn-holder { padding: 15px; }
.btn-holder-bottom { position: absolute; bottom: 15px; }