.box-shadow-bottom {
    @include box-shadow-bottom;
}
.overlay { /*display: none;*/ position: fixed; width: 100vw; height: 100vh; background: rgba($black, 0.7); z-index: 999; }
.spacer { height: 25px; margin: 25px 0;}
/* =====================================================
    CONTENT STYLE
===================================================== */
.wrapper { position: relative; }
.content {
    background: $primary-color;
    width: 100%;
    padding: 0 0 15px;
    min-height: 100vh;
    top: 0;
    right: 0;
    @include transition;
    .search-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 15px;
        button { 
            @include border-radius(50%);
            @include box-shadow;
            border: none;
            width: 40px;
            height: 40px;
            background: $white;
            &:focus { outline: none;}
        }
    }
    .navbar-header { position: relative; padding: 14px 35px;
        button { background:none; position: absolute; top: 7px; left: 0; border: none;
            &:hover, &:active, &:focus {background:none!important;border:none;}
            i {color: $secondary-color; font-size: 18px;}
        }
        h3 { color: $secondary-color; font-size: 14px; font-weight: 500; margin: 0; }
        .add-items { position: absolute; top: 10px; right: 15px;
            a { font-size: 14px;
                &:hover { text-decoration: none;}
            }
        }
        &.your-location {
            @include box-shadow-bottom;
            background: $white;
            color: darken($primary-color, $amount: 60%);
            padding: 10px;
            display: flex;
            align-items: center;
            svg { font-size: 28px; margin-right: 5px; }
            .text {
                display: flex;
                flex-direction: column;
            }
            .bell-icon {
                flex-grow: 1;
                text-align: right;
                svg { margin-right: 0;}
            }
        }
        &.fill { background: $white;}
        &.orders { padding: 15px; 
            h3 { font-size: 16px; }
        }
    }
    .carousel-indicators {
        bottom: -50px;
        li {
            width: 10px;
            height: 10px;
            @include border-radius(50%);
            opacity: 0.9;
        }
        .active { background-color: $secondary-color; }
    }
    &.edit-profile { background: $white; }
    &.contact-us { background: $white; }
    .header-img-holder { position: relative;
        img { width: 100%; }
        button { background: none; border: none; position: absolute; top: 10px; left: 5px; 
            &:active { background: none !important;}
            i { font-size: 18px; }
        }
        a { position: absolute; top: 10px; right: 15px; background: $primary-color; color: $black; padding: 5px 10px; @include border-radius(5px);
            &:hover { text-decoration: none;}
        }
    }
}