// Alternate number
.input-wrapper {
    margin-top: 25px;
    h3 { font-size: 14px; }
    .input-holder {
        background: $white;
        padding: 15px;
        @include border-radius(5px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 15px;
        input { border: none; border-bottom: 1px solid $border-color; border-radius: 0; padding-left: 0;
            &:focus { box-shadow: none; }
        }
        textarea { border: none; border-bottom: 1px solid $border-color; border-radius: 0; padding-left: 0;
            &:focus { box-shadow: none; }
        }
    }
}