<template>
  <div>
    <div
      class="alert alert-dismissible alert-info"
      v-if="!isIos && showInstallBanner"
      style="z-index: 10"
    >
      <button type="button" class="close" data-dismiss="alert" @click="closeInstall">&times;</button>
      Do you want to
      <span>
        add this app to your home screen?
        <button @click="install">INSTALL</button>
      </span>
    </div>
    <div
      class="alert alert-dismissible alert-info"
      v-if="isIos && showInstallBanner"
      style="z-index: 10"
    >
      <button type="button" class="close" data-dismiss="alert" @click="closeInstall">&times;</button>
      <span>Add this app to your home screen by cliking Share=>Add to home screen=>Add</span>
    </div>
  </div>
  <!--<div id="content">
    <div class="col home-screen">
      <div class="install-guide" v-if="isIos && showInstallBanner">
        <span>
          <i class="far fa-plus-square"></i>
        </span>
        <div class="content">
          <p>
            Install this webapp on your iPhone.
            <br>Tap then
            <strong>Add to Home Screen.</strong>
          </p>
        </div>
        <div class="arrow-down"></div>
      </div>
      <div class="add-home-screen" v-if="!isIos && showInstallBanner">
        <div class="logo"></div>
        <div class="content">
          <h3>Add to Home Screen</h3>
          <p>Touchless Service Webapp</p>
          <button class="btn btn-default" @click="install">Add</button>
        </div>
      </div>
    </div>
  </div>-->
</template>
<style>
/* .page-header h1 {
  font-weight: 300;
}
body {
  padding-top: 0rem;
} */
</style>
<script>
// src/components/InstallPrompt.vue
let installEvent;
export default {
  name: "installPrompt",
  data() {
    return {
      showInstallBanner: false,
      isIos: false
    };
  },
  created() {
    const isIosDevice = () => {
      console.log("IS_IOS");
      const userAgent = window.navigator.userAgent.toLowerCase();
      return /iphone|ipad|ipod/.test(userAgent);
    };
    window.addEventListener("beforeinstallprompt", e => {
      e.preventDefault();
      console.log("beforeinstallprompt");
      installEvent = e;
      this.showInstallBanner = true;
      this.isIos = isIosDevice();
    });

    window.addEventListener("appinstalled", e => {
      e.preventDefault();
      installEvent = e;
      this.showInstallBanner = false;
    });
  },
  methods: {
    install() {
      console.log("install");
      this.showInstallBanner = false;
      installEvent.prompt();
      installEvent.userChoice.then(() => {
        installEvent = null;
      });
    },
    closeInstall() {
      console.log("closeInstall");
      this.showInstallBanner = false;
    }
  }
};
</script>
