// Welcome page
.circle-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    .circle {
        background: $white;
        width: 170px;
        height: 170px; 
        @include border-radius(50%);
        @include box-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        h3 { text-transform: uppercase; font-weight: 400; font-size: 34px; color: $secondary-color;}
    }
}
.enter-mobile {
    display: flex;
    align-items: center;
    background: $white;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    span { font-weight: 600; color: $secondary-color; }
    input { font-size: 13px; border: none;
        &:focus { box-shadow: none; }
    }
}