.order-listing { 
    .navbar-header { min-height: 90px; padding: 15px;
        h3 { font-size: 14px; color: $secondary-color; text-align: center; }
    }
    .nav-tabs {
        border-bottom: none;
        flex-wrap: nowrap;
        overflow-x: auto;
        overflow-y: hidden; 
        margin-top: -38px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        li { white-space: nowrap;
            a { color: $secondary-color; border: none!important; font-weight: 600;
                span { 
                    &:first-child { font-size: 12px; }
                    &:last-child { font-size: 14px; }
                }
                &.active { color: $secondary-color; border-bottom: 4px solid $secondary-color !important; }
            }
        }
    }
    .tab-content { margin-top: 15px; }
    .order-listing-holder {
        @include border-radius(5px);
        @include box-shadow;
        background: $white;
        margin-bottom: 15px;
        padding: 15px;
        .order-details {
            .header {
                display: flex;
                justify-content: space-between;
            }
            .details {
                display: flex;
                justify-content: space-between;
                .order-info { display: flex; flex-direction: column; 
                    span { color: lighten($black, $amount: 45%);
                        &:first-child { font-weight: 500; color: $black; margin-bottom: 25px;}
                    }
                }
                .order-mode { display: flex; flex-direction: column; text-align: right; font-weight: 500; 
                    span {
                        &.call {
                            display: flex;
                            justify-content: flex-end;
                            margin-bottom: 10px;
                            span {
                                @include border-radius(50%);
                                @include box-shadow;
                                width: 38px;
                                height: 38px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: $white;
                            }
                        }
                    }
                }
            }
            button { background: $green; color: $white; padding: 5px 15px; @include border-radius(5px); border: none; 
                &.cancelled { background: $red; }
                &.regular { background: $secondary-color; }
            }
        }
        .btn-holder { display: flex; justify-content: space-between; margin-top: 15px; padding: 0;
            .btn { width: 48%;}
        }
        .toggle-address-holder {
            display: none;
            margin-top: 15px;
            span { 
                font-size: 12px; 
                font-weight: 500;
            }
        }
    }
}

// Edit Orders
.order-edit {
    .navbar-header {
        h3 { font-size: 14px; color: $secondary-color; text-align: center; }
    }
    .order-info-holder {
        background: $secondary-color;
        margin-bottom: 15px;
        padding: 15px;
        hr { border-color: lighten($secondary-color, $amount: 8%);}
        .order-info { display: flex; justify-content: space-between; color: $white;
            .info { display: flex; flex-direction: column;
                span {
                    &:first-child { color: darken($white, $amount: 14%);}
                }
            }
            .payment { display: flex; flex-direction: column; text-align: right;
                span {
                    &:first-child { color: darken($white, $amount: 14%);}
                }
            }
        }
        .pickup-delivery-wrapper {
            display: flex;
            justify-content: space-between;
            .pickup, .delivery {
                display: flex;
                flex-direction: column;
                span {
                    color: $white;
                    &:first-child {
                        font-size: 12px; 
                        font-weight: 400;
                        color: darken($white, $amount: 14%);
                    }
                }
            }
        }
        .address {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            span {
                color: $white;
                &:first-child {
                    font-size: 12px; 
                    font-weight: 400;
                    color: darken($white, $amount: 14%);
                }
            }
        }
    }
    
    .add-items {
        h3 { font-size: 18px; }
        .items {
            display: flex;
            overflow-x: auto;
            overflow-y: hidden;
            flex-wrap: nowrap;
            margin-bottom: 20px;
            padding: 10px 0;
            a {
                color: $secondary-color;
                border: 1px solid $secondary-color;
                @include border-radius(5px);
                min-width: 90px;
                padding: 5px;
                font-size: 12px;
                text-align: center;
                margin-right: 5px;
                &:hover { text-decoration: none;}
                &.active { background: $secondary-color; color: $white;}
            }
        }
    }

    .edit-item-holder {
        .edit-item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .input-holder { 
                width: 30%;
                min-height: 40px;
                background: $white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5px;
                @include box-shadow;
                @include border-radius(5px);
                input {
                    background: none;
                    border: none;
                    padding: 0;
                    height: 20px;
                }
                span { font-size: 11px; color: lighten($black, $amount: 50%);}
            }
            .add-remove { display: flex; flex-grow: 1; margin: 0 15px;
                .minus, .plus {
                    @include border-radius(50%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    background: $secondary-color;
                    color: $white;
                    width: 30px;
                    height: 30px;
                    font: 25px/1 Arial,sans-serif;
                }
                .form-control {
                    width: 40px;
                    margin-left: 5px;
                    padding: 0;
                    text-align: center;
                    background: none;
                    font-size: 14px;
                    font-weight: 600;
                    border: none;
                }
            }
            .amount { 
                // width: 20%;
                // text-align: right;
                font-size: 16px;
                i { font-size: 14px; margin-right: 5px;}
            }
            a.btn {
                &:hover { background: none; color: inherit;}
                &:focus { border: none;}
            }
            button { 
                background: $white;
                padding: 5px 25px;
                border: 1px solid $secondary-color;
                @include border-radius(5px);
                @include box-shadow;
                &:focus { outline: none;}
            }
        }
    }

    .item-holder {
        .label { 
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;
            span { width: 50%; text-align: center;
                &:first-child { width: 40%; text-align: left;}
                &:nth-child(2) { width: 30%;}
                &:last-child { width: 30%; text-align: right;}
            }
        }
        .item-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 15px;
            .item {
                width: 40%;
                display: flex;
                flex-direction: column;
                span {
                    &:last-child { font-size: 11px; color: lighten($black, $amount: 50%);}
                }
            }
            .qty { width: 30%; text-align: center;}
            .amount { 
                width: 30%;
                text-align: right;
                font-size: 16px;
                i { font-size: 14px; margin-right: 5px;}
            }
        }
    }

    .price-summary {
        @include box-shadow;
        @include border-radius(5px);
        background: $white;
        margin-top: 30px;
        padding: 15px;
        i { font-size: 13px;}
        .item-total {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
            h3 { font-size: 13px;}
        }
        .breakup {
            display: flex;
            justify-content: space-between;
            padding: 5px 0;
        }
        .payble { 
            display: flex;
            justify-content: space-between;
            padding-top: 15px;
            border-top: 1px dashed $border-color;
            h3 { font-size: 18px;}
            span { font-size: 18px;
                i { font-size: 16px;}
            }
        }
    }
    .input-wrapper { margin-bottom: 60px;}
}