.signature-wrapper {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: $secondary-color;
        margin-bottom: 15px;
        padding: 15px;
        color: $white;
        h3 { font-size: 18px; font-weight: 400;}
        .amount {
            display: flex;
            flex-direction: column;
            text-align: right;
            span { font-size: 18px;
                i { font-size: 16px;}
            }
            a { color: darken($white, $amount: 14%);
                &:hover { text-decoration: none;}
            }
        }
    }
    .signature-area {
        @include box-shadow;
        @include border-radius(5px);
        background: $white;
        height: 65vh;
        padding: 15px;
        text-align: center;
        span { color: lighten($black, $amount: 85%); font-weight: 200;}
    }
    .btn-holder-bottom {
        display: flex;
        justify-content: space-between;
        .btn { width: calc(50% - 5px);}
    }
}