.otp-wrapper {
    p { margin: 15px 0;}
    .resend { text-align: center;}
    .otp-holder {
        background: $white;
        @include border-radius(5px);
        margin-top: 15px;
        padding: 15px;
        input { border: none; border-bottom: 1px solid $border-color; border-radius: 0; padding-left: 0;
            &:focus { box-shadow: none; }
        }
    }
}