<template>
  <div class="wrapper">
    <!-- Page Content Holder -->
    <div class="content">
      <div class="circle-wrapper">
        <div class="circle">
          <h3>Rider</h3>
        </div>
      </div>

      <div class="enter-mobile">
        <span>+91</span>
        <input
          type="number"
          class="form-control"
          placeholder="Enter your mobile number"
          v-model="mobile"
        />
        <button
          class="btn btn-default"
          @click="submitMobileForOTP"
          :disabled="submitButtonDisabled"
        >{{submitButtonValue}}</button>
      </div>
    </div>

    <b-modal
      id="modal-prevent-closing"
      centered
      ref="modal"
      title="Enter OTP"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      v-bind:hide-footer="hideFooter"
    >
      <b-alert show variant="danger" v-if="alertShow">OTP not matched.</b-alert>
      <b-form-input class="form-control" id v-model="otp" required></b-form-input>
      <button
        @click="verifyOTP"
        class="btn btn-dark mt-2"
        :disabled="otpButtonDisabled"
      >{{otpButtonValue}}</button>
    </b-modal>
  </div>
</template>

<script>
import LoginService from "../../services/login.service";
export default {
  data() {
    return {
      alertShow: false,
      otp: "",
      otpButtonDisabled: true,
      otpButtonValue: "SUBMIT",
      mobile: "",
      submitButtonDisabled: true,
      submitButtonValue: "CONTINUE",
      name: "",
      nameState: null,
      submittedNames: [],
      hideFooter: true,
      buttonLoader: false,
    };
  },
  mounted() {
    //this.$bvModal.show("modal-prevent-closing");
  },
  created() {
    // this.$toastr.e("OTP sent on mobile.");
    //this.$refs.myModal.show();
    // this.$bvModal.show("modal-prevent-closing");
  },
  watch: {
    mobile: function (val) {
      const regex = /^[0][1-9]\d{9}$|^[1-9]\d{9}$/g;
      const validMobile = val.match(regex);
      if (validMobile) this.submitButtonDisabled = false;
      else this.submitButtonDisabled = true;
    },
    otp: function (val) {
      const regex = /\b\d{5}\b$/g;
      const validOTP = val.match(regex);
      if (validOTP) this.otpButtonDisabled = false;
      else this.otpButtonDisabled = true;
    },
  },
  methods: {
    verifyOTP() {
      this.otpButtonValue = "WAIT...";
      let data = {
        otp: this.otp,
        login_type: "MOBILE",
        login_value: this.mobile,
      };
      LoginService.verifyOTP(data).then((response) => {
        console.log(response.data);
        if (response.data.status == 0) {
          this.alertShow = true;
          this.otpButtonValue = "SUBMIT";
        } else {
          localStorage.setItem(
            "userDetails",
            JSON.stringify(response.data.userDetails)
          );
          this.$router.push("/location");
        }
      });
    },

    submitMobileForOTP() {
      // this.buttonLoader = true;
      this.submitButtonValue = "WAIT...";
      let data = {
        device_type: "WEB",
        name: "",
        mobile: this.mobile,
        //device_id: localStorage.getItem("FCM_TOKEN"),
        push_token: localStorage.getItem("FCM_TOKEN"),
        //login_type: "MOBILE",
        //is_fcm: 1,
      };
      LoginService.requestOTP(data).then((response) => {
        console.log(response.data);
        // this.$toastr.e("OTP sent on mobile.");
        this.$bvModal.show("modal-prevent-closing");
        this.submitButtonValue = "CONTINUE";
        localStorage.setItem("RIDER_MOBILE", this.mobile);
        this.$router.push("/otp");
      });
    },

    resetModal() {
      this.name = "";
      this.nameState = null;
    },
    handleOk(bvModalEvt) {
      // Prevent modal from closing
      bvModalEvt.preventDefault();
      // Trigger submit handler
      this.handleSubmit();
    },
    handleSubmit() {
      // Exit when the form isn't valid
      if (!this.checkFormValidity()) {
        return;
      }
      // Push the name to submitted names
      this.submittedNames.push(this.name);
      // Hide the modal manually
      this.$nextTick(() => {
        this.$bvModal.hide("modal-prevent-closing");
      });
    },
  },
};
</script>

<style scoped>
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
</style>
