<template>
  <div class="content">
    <div class="navbar-header box-shadow-bottom fill">
      <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
        <router-link to="login">
          <i class="fas fa-chevron-left"></i>
        </router-link>
      </button>
      <h3>Verify Details</h3>
    </div>

    <div class="col otp-wrapper">
      <p>Enter the OTP sent to {{mobile_otp}}</p>
      <div class="otp-holder">
        <label for>Enter OTP</label>
        <input type="text" class="form-control" v-model="otp" required />
      </div>
      <p class="resend">
        Didn't receive OTP?
        <router-link to @click.native="resend">{{resendLink}}</router-link>
      </p>
    </div>

    <div class="btn-holder">
      <button
        class="btn btn-default btn-block"
        :disabled="otpButtonDisabled"
        @click="verifyOTP"
      >{{otpButtonValue}}</button>
    </div>
  </div>
</template>

<script>
import LoginService from "../../services/login.service";
//import FcmTopics from "../../services/fcm.topics";
export default {
  data() {
    return {
      mobile_otp: "",
      otp: "",
      otpButtonDisabled: true,
      otpButtonValue: "Verify & Continue",
      resendLink: "RESEND",
    };
  },

  created() {
    let mobile_otp = localStorage.getItem("RIDER_MOBILE");
    if (mobile_otp) {
      this.mobile_otp = mobile_otp;
    }
  },
  watch: {
    otp: function (val) {
      const regex = /\b\d{5}\b$/g;
      const validOTP = val.match(regex);
      if (validOTP) this.otpButtonDisabled = false;
      else this.otpButtonDisabled = true;
    },
  },
  methods: {
    resend() {
      console.log("Resend...");
      // this.submitButtonValue = "WAIT...";
      this.resendLink = "RESEND...";
      let data = {
        device_type: "WEB",
        name: "",
        mobile: this.mobile_otp,
        login_type: "MOBILE",
        is_fcm: 1,
      };
      LoginService.requestOTP(data).then((response) => {
        console.log(response.data);
        this.resendLink = "RESEND";
      });
    },
    verifyOTP() {
      this.otpButtonValue = "WAIT...";
      let data = {
        otp: this.otp,
        mobile: this.mobile_otp, // getting from localstorage
        device_type: "WEB",
        //login_type: "MOBILE",
        //device_id: localStorage.getItem("FCM_TOKEN"),
        push_token: localStorage.getItem("FCM_TOKEN"),
      };
      LoginService.verifyOTP(data).then((response) => {
        console.log(response.data);
        if (response.data.status == 0) {
          // this.alertShow = true;
          this.$bvToast.toast(`OTP not matched.`, {
            title: "Error",
            autoHideDelay: 5000,
            appendToast: false,
            variant: "danger",
          });
          this.otpButtonValue = "Verify & Continue";
          console.log("Failed");
        } else {
          console.log("Verified"+response.data.rider_id);
          this.$helpers.saveRiderDetails(response.data);
          //localStorage.setItem("RIDER_ID", response.data.rider_id);
          this.$router.push("/orders");
        }
      });
    },
  },
};
</script>

<style>
</style>
