<template>
  <div class="wrapper">
    <div>
      <InstallPrompt></InstallPrompt>
      <!-- <Login/> -->
      <div id="content">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
//import Vue from "vue";
import InstallPrompt from "./components/InstallPrompt.vue";
//FCM
import firebase from "firebase/app";
import "firebase/app";
import "firebase/messaging";
import FcmTopics from "./services/fcm.topics";
export default {
  name: "App",
  components: {
    //Navbar: Navbar
    InstallPrompt: InstallPrompt,
  },
  created() {
    const firebaseConfig = {
      apiKey: "AIzaSyCMbdNGxkjboY7rmXoamglb1ivT7demhIg",
      authDomain: "launderette-36a17.firebaseapp.com",
      databaseURL: "https://launderette-36a17.firebaseio.com",
      projectId: "launderette-36a17",
      storageBucket: "launderette-36a17.appspot.com",
      messagingSenderId: "404726729232",
      appId: "1:404726729232:web:b1c3b8d0769375e5b61895",
      measurementId: "G-XXLXWS4GSB",
    };

    if (!firebase.apps.length) {
      firebase.initializeApp(firebaseConfig);
    }

    this.messaging = firebase.messaging();

    this.messaging.usePublicVapidKey(
      "BC171-MvZTpGxsfZ-wEm0IxXbVI7mr8XWuqaXn4ZSh90So1ib2sDgoysoRkxKehbriOcXBfrYEBdM7bPyrRmqO4"
    );
  }, //Init Firebase
  mounted() {
    let _this = this;
    //Listen the notification click
    navigator.serviceWorker.addEventListener("message", (event) => {
      console.log("type", event.data.type);
      if (event.data.type === "SERVICE") {
        console.log("payload", event.data.payload);
        _this.$router.push(event.data.payload.data.link);
      }
    });
    this.messaging
      .requestPermission()
      .then(() => {
        console.log("Notification permission granted.");
        this.messaging.getToken().then((newToken) => {
          console.log("New token created: ", newToken);
          localStorage.setItem("FCM_TOKEN", newToken);
          //FcmTopics.subscribeTopic(newToken, "PWA_LAUNDERETTE");
          if (this.$helpers.getRiderId()) {
            var payLoad = {
              rider_id: this.$helpers.getRiderId(),
              uuid_value: "",
              device_type: "WEB",
              device_id: "",
              push_token: localStorage.getItem("FCM_TOKEN"),
            };

            FcmTopics.updateToken(payLoad);
          }
        });
      })
      .catch((err) => {
        console.log("Unable to get permission to notify.", err);
      });

    this.messaging.onTokenRefresh(function () {
      this.messaging
        .getToken()
        .then(function (newToken) {
          console.log("Token refreshed: ", newToken);
          localStorage.setItem("FCM_TOKEN", newToken);
          if (this.$helpers.getUserId()) {
            var payLoad = {
              user_id: this.$helpers.getUserId(),
              uuid_value: localStorage.getItem("FCM_TOKEN"),
              device_type: "WEB",
              device_token: localStorage.getItem("FCM_TOKEN"),
            };

            FcmTopics.updateToken(payLoad);
          }
        })
        .catch(function (err) {
          console.log("Unable to retrieve refreshed token ", err);
        });
    });
    this.messaging.onMessage(function (payload) {
      console.log("Receiving foreground message", payload.data.link);
      return (new Notification(payload.data.title, {
        body: payload.data.body,
        //icon: payload.data.icon,
      }).onclick = function () {
        console.log("Forground notification clicked");
        let route = payload.data.link;
        _this.$router.push(route);
      });
      // let route = payload.data.link;
      // _this.$router.push(route);
      // notify.addEventListener("notificationclick", function(event) {
      //   //event.notification.close();
      //   console.log(
      //     "Notification foreground click=>" +
      //       event +
      //       "  ====" +
      //       payload.data.link
      //   );

      // var url = event.notification.data.link;
      // event.waitUntil(
      //   self.clients.matchAll({ type: "window" }).then(windowClients => {
      //     for (var i = 0; i < windowClients.length; i++) {
      //       var client = windowClients[i];
      //       if (client.url === url && "focus" in client) {
      //         console.log("FOCUS SAME WINDOW1");
      //         client.navigate("http://127.0.0.1:8887/#/order-history");
      //         return client.focus();
      //       }
      //     }
      //     if (self.clients.openWindow) {
      //       console.log("FOCUS SAME WINDOW2");
      //       return self.clients.openWindow(url);
      //     }
      //   })
      // );
      //   let route = payload.data.link;
      //   _this.$router.push(route);
      // });
    });
  },
};
</script>

<style>
</style>
